.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #2563eb;
}

.sidebar a.active {
  background: #3b82f6;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: crimson;
  color: white;
  cursor: pointer;
}